In [10]:
import pandas as pd
import numpy as np

In [11]:
urls_dict = {
    "result_summary": "https://www.espncricinfo.com/records/trophy/team-results-summary/indian-premier-league-117",
    "highest_totals": "https://www.espncricinfo.com/records/trophy/team-highest-innings-totals/indian-premier-league-117",
    "lowest_totals": "https://www.espncricinfo.com/records/trophy/team-lowest-innings-totals/indian-premier-league-117",

    "most_runs": "https://www.espncricinfo.com/records/trophy/batting-most-runs-career/indian-premier-league-117",
    "high_scores": "https://www.espncricinfo.com/records/trophy/batting-most-runs-innings/indian-premier-league-117",
    "most_sixes": "https://www.espncricinfo.com/records/trophy/batting-most-sixes-career/indian-premier-league-117",
    "most_fifties": "https://www.espncricinfo.com/records/trophy/batting-most-fifties-career/indian-premier-league-117",
    "most_ducks": "https://www.espncricinfo.com/records/trophy/batting-most-ducks-career/indian-premier-league-117",

    "most_wickets": "https://www.espncricinfo.com/records/trophy/bowling-most-wickets-career/indian-premier-league-117",
    "best_bowling_figures": "https://www.espncricinfo.com/records/trophy/bowling-best-figures-innings/indian-premier-league-117",
    "best_economy_rates": "https://www.espncricinfo.com/records/trophy/bowling-best-career-economy-rate/indian-premier-league-117",
    "best_strike_rates": "https://www.espncricinfo.com/records/trophy/bowling-best-career-strike-rate/indian-premier-league-117",

    "most_catches": "https://www.espncricinfo.com/records/trophy/fielding-most-catches-career/indian-premier-league-117",
    "most_dismissals": "https://www.espncricinfo.com/records/trophy/keeping-most-dismissals-career/indian-premier-league-117",

    "highest_partnerships": "https://www.espncricinfo.com/records/trophy/fow-highest-partnerships-for-any-wicket/indian-premier-league-117"
}

In [13]:
result_df = pd.read_csv("result_summary.csv")
highest_totals_df = pd.read_csv("highest_totals.csv")
lowest_totals_df = pd.read_csv("lowest_totals.csv")
most_runs_df = pd.read_csv("most_runs.csv")
high_scores_df = pd.read_csv("high_scores.csv")
most_sixes_df = pd.read_csv("most_sixes.csv")
most_fifties_df = pd.read_csv("most_fifties.csv")
most_ducks_df = pd.read_csv("most_ducks.csv")
most_wickets_df = pd.read_csv("most_wickets.csv")
best_bowlings_df = pd.read_csv("best_bowling_figures.csv")
best_economy_df = pd.read_csv("best_economy_rates.csv")
best_strikes_df = pd.read_csv("best_strike_rates.csv")
most_catches_df = pd.read_csv("most_catches.csv")
most_dismissals_df = pd.read_csv("most_dismissals.csv")
highest_partnership_df = pd.read_csv("highest_partnerships.csv")

In [14]:
most_runs_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli (RCB),2008-2024,252,244,37,8004,113*,38.66,6065,131.97,8,55,10,705,272
1,S Dhawan (DC/DCH/MI/PBKS/SRH),2008-2024,222,221,29,6769,106*,35.25,5324,127.14,2,51,11,768,152
2,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109*,29.72,5054,131.14,2,43,17,599,280
3,DA Warner (DC/SRH),2009-2024,184,184,22,6565,126,40.52,4697,139.77,4,62,11,663,236
4,SK Raina (CSK/GL),2008-2021,205,200,30,5528,100*,32.51,4043,136.73,1,39,8,506,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Gurkeerat Singh (KXIP/RCB),2012-2020,41,32,8,511,65,21.29,422,121.09,-,2,4,55,11
146,OA Shah (KKR/Kochi/RR),2010-2013,23,22,7,506,76,33.73,389,130.07,-,4,-,34,23
147,PC Valthaty (KXIP/RR),2009-2013,23,23,1,505,120*,22.95,418,120.81,1,2,1,60,20
148,SW Billings (CSK/DC/KKR),2016-2022,30,27,1,503,56,19.34,388,129.63,-,3,3,40,20
149,RR Rossouw (DC/PBKS/RCB),2014-2024,22,22,2,473,82*,23.65,308,153.57,-,2,4,45,25

In [15]:
most_runs_df.isna().sum()

Player    0
Span      0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
Ave       0
BF        0
SR        0
100       0
50        0
0         0
4s        0
6s        0
dtype: int64

In [16]:
most_runs_df['Player'].unique()

array(['V Kohli (RCB)', 'S Dhawan (DC/DCH/MI/PBKS/SRH)',
       'RG Sharma (DCH/MI)', 'DA Warner (DC/SRH)', 'SK Raina (CSK/GL)',
       'MS Dhoni (CSK/RPS)', 'AB de Villiers (DC/RCB)',
       'CH Gayle (KKR/KXIP/PBKS/RCB)',
       'RV Uthappa (CSK/KKR/MI/PWI/RCB/RR)',
       'KD Karthik (DC/GL/KKR/KXIP/MI/RCB)',
       'KL Rahul (KXIP/LSG/PBKS/RCB/SRH)',
       'AM Rahane (CSK/DC/KKR/MI/RPS/RR)', 'F du Plessis (CSK/RCB/RPS)',
       'SV Samson (DC/RR)', 'AT Rayudu (CSK/MI)', 'G Gambhir (DC/KKR)',
       'SR Watson (CSK/RCB/RR)', 'MK Pandey (DC/KKR/LSG/MI/PWI/RCB/SRH)',
       'SA Yadav (KKR/MI)', 'JC Buttler (MI/RR)', 'KA Pollard (MI)',
       'RR Pant (DC)', 'Shubman Gill (GT/KKR)', 'YK Pathan (KKR/RR/SRH)',
       'Q de Kock (DC/LSG/MI/RCB/SRH)', 'SS Iyer (DC/KKR)',
       'RA Jadeja (CSK/GL/Kochi/RR)', 'WP Saha (CSK/GT/KKR/KXIP/SRH)',
       'DA Miller (GT/KXIP/RR)', 'BB McCullum (CSK/GL/KKR/Kochi/RCB)',
       'PA Patel (CSK/DCH/Kochi/MI/RCB/SRH)',
       'GJ Maxwell (DC/KXIP/MI/RCB)',
       'Yuvraj Singh (DC/KXIP/MI/PWI/RCB/SRH)', 'V Sehwag (DC/KXIP)',
       'MA Agarwal (DC/KXIP/PBKS/RCB/RPS/SRH)', 'Ishan Kishan (GL/MI)',
       'N Rana (KKR/MI)', 'M Vijay (CSK/DC/KXIP)', 'HH Pandya (GT/MI)',
       'SPD Smith (DC/PWI/RPS/RR)', 'AD Russell (DC/KKR)',
       'SE Marsh (KXIP)', 'JH Kallis (KKR/RCB)',
       'DR Smith (CSK/DCH/GL/MI)', 'RD Gaikwad (CSK)',
       'SR Tendulkar (MI)', 'RA Tripathi (KKR/RPS/RR/SRH)',
       'R Dravid (RCB/RR)', 'KS Williamson (GT/SRH)',
       'AJ Finch (DC/GL/KKR/KXIP/MI/PWI/RCB/RR/SRH)',
       'AC Gilchrist (DCH/KXIP)', 'JP Duminy (DC/DCH/MI)',
       'MEK Hussey (CSK/MI)', 'PP Shaw (DC)',
       'MP Stoinis (DC/KXIP/LSG/RCB)', 'DPMD Jayawardene (DC/Kochi/KXIP)',
       'N Pooran (KXIP/LSG/PBKS/SRH)',
       'Mandeep Singh (DC/KKR/KXIP/PBKS/RCB)',
       'MK Tiwary (DC/KKR/KXIP/RPS)', 'KC Sangakkara (DCH/KXIP/SRH)',
       'AR Patel (DC/KXIP)', 'KH Pandya (LSG/MI)', 'YBK Jaiswal (RR)',
       'JM Bairstow (PBKS/SRH)', 'DJ Bravo (CSK/GL/MI)',
       'D Padikkal (LSG/RCB/RR)', 'NV Ojha (DC/RR/SRH)',
       'SP Narine (KKR)', 'S Dube (CSK/RCB/RR)',
       'KK Nair (DC/KXIP/RCB/RR)', 'SS Tiwary (DC/MI/RCB/RPS)',
       'DJ Hooda (KXIP/LSG/PBKS/RR/SRH)', 'S Badrinath (CSK)',
       'EJG Morgan (KKR/KXIP/RCB/SRH)', 'BJ Hodge (KKR/Kochi/RR)',
       'Abhishek Sharma (DC/SRH)', 'SC Ganguly (KKR/PWI)',
       'CA Lynn (DCH/KKR/MI)', 'VR Iyer (KKR)',
       'DJ Hussey (CSK/KKR/KXIP)', 'SO Hetmyer (DC/RCB/RR)',
       'KM Jadhav (CSK/DC/Kochi/RCB/SRH)', 'R Parag (RR)',
       'MM Ali (CSK/RCB)', 'NT Tilak Varma (MI)', 'TM Dilshan (DC/RCB)',
       'IK Pathan (DC/GL/KXIP/RPS/SRH)', 'V Shankar (CSK/DC/GT/SRH)',
       'ML Hayden (CSK)', 'M Vohra (KXIP/LSG/RCB/RR)', 'LMP Simmons (MI)',
       'B Sai Sudharsan (GT)', 'LRPL Taylor (DC/PWI/RCB/RR)',
       'R Tewatia (DC/GT/KXIP/RR)', 'KP Pietersen (DC/RCB/RPS)',
       'MC Henriques (DC/KKR/PBKS/RCB/SRH)', 'AK Markram (PBKS/SRH)',
       'H Klaasen (RCB/RR/SRH)', 'Y Venugopal Rao (DC/DCH/SRH)',
       'A Symonds (DCH/MI)', 'JA Morkel (CSK/DC/RCB/RPS)',
       'CL White (DCH/RCB/SRH)', 'LS Livingstone (PBKS/RR)',
       'BA Stokes (CSK/RPS/RR)', 'DP Conway (CSK)', 'RK Singh (KKR)',
       'HH Gibbs (DCH/MI)', 'SM Curran (CSK/KXIP/PBKS)',
       'STR Binny (MI/RCB/RR)', 'Harbhajan Singh (CSK/KKR/MI)',
       'R Ashwin (CSK/DC/KXIP/RPS/RR)', 'RM Patidar (RCB)',
       'MS Bisla (KKR/KXIP/RCB)', 'Shakib Al Hasan (KKR/SRH)',
       'TM Head (RCB/SRH)', 'ST Jayasuriya (MI)',
       'Prabhsimran Singh (KXIP/PBKS)', 'GC Smith (PWI/RR)',
       'JM Sharma (PBKS)', 'AD Mathews (DC/KKR/PWI)', 'C Green (MI/RCB)',
       'TL Suman (DCH/MI/PWI)', 'AM Nayar (KXIP/MI/PWI/RR)',
       'MR Marsh (DC/DCH/PWI/RPS/SRH)', 'GJ Bailey (CSK/KXIP/RPS)',
       'TH David (MI/RCB)', 'E Lewis (LSG/MI/RR)', 'PD Salt (DC/KKR)',
       'A Badoni (LSG)', 'PP Chawla (CSK/KKR/KXIP/MI)',
       'CH Morris (CSK/DC/RCB/RR)', 'JJ Roy (DC/GL/KKR/SRH)',
       'JD Ryder (PWI/RCB)', 'SN Khan (DC/KXIP/PBKS/RCB)',
       'HM Amla (KXIP)', 'Abdul Samad (SRH)', 'M Shahrukh Khan (GT/PBKS)',
       'Rashid Khan (GT/SRH)', 'CJ Anderson (DC/MI/RCB)',
       'Shahbaz Ahmed (RCB/SRH)', 'RS Bopara (KXIP/SRH)',
       'MK Lomror (RCB/RR)', 'JP Faulkner (GL/KXIP/PWI/RR)',
       'PJ Cummins (DC/KKR/SRH)', 'M Manhas (CSK/DC/PWI)',
       'Gurkeerat Singh (KXIP/RCB)', 'OA Shah (KKR/Kochi/RR)',
       'PC Valthaty (KXIP/RR)', 'SW Billings (CSK/DC/KKR)',
       'RR Rossouw (DC/PBKS/RCB)'], dtype=object)

In [17]:
most_runs_df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO         object
Runs        int64
HS         object
Ave       float64
BF          int64
SR        float64
100        object
50         object
0          object
4s          int64
6s          int64
dtype: object

In [18]:
most_runs_df_copy = most_runs_df.infer_objects()

In [19]:
most_runs_df_copy.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO         object
Runs        int64
HS         object
Ave       float64
BF          int64
SR        float64
100        object
50         object
0          object
4s          int64
6s          int64
dtype: object

In [20]:
most_runs_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli (RCB),2008-2024,252,244,37,8004,113*,38.66,6065,131.97,8,55,10,705,272
1,S Dhawan (DC/DCH/MI/PBKS/SRH),2008-2024,222,221,29,6769,106*,35.25,5324,127.14,2,51,11,768,152
2,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109*,29.72,5054,131.14,2,43,17,599,280
3,DA Warner (DC/SRH),2009-2024,184,184,22,6565,126,40.52,4697,139.77,4,62,11,663,236
4,SK Raina (CSK/GL),2008-2021,205,200,30,5528,100*,32.51,4043,136.73,1,39,8,506,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Gurkeerat Singh (KXIP/RCB),2012-2020,41,32,8,511,65,21.29,422,121.09,-,2,4,55,11
146,OA Shah (KKR/Kochi/RR),2010-2013,23,22,7,506,76,33.73,389,130.07,-,4,-,34,23
147,PC Valthaty (KXIP/RR),2009-2013,23,23,1,505,120*,22.95,418,120.81,1,2,1,60,20
148,SW Billings (CSK/DC/KKR),2016-2022,30,27,1,503,56,19.34,388,129.63,-,3,3,40,20
149,RR Rossouw (DC/PBKS/RCB),2014-2024,22,22,2,473,82*,23.65,308,153.57,-,2,4,45,25

In [21]:
most_runs_df.columns[0]

'Player'

In [22]:
category_gropus = most_runs_df.groupby(by=most_runs_df.columns[0])

In [23]:
category_gropus

In [24]:
category_gropus[most_runs_df.columns[5]].mean()

Player
A Badoni (LSG)                            634.0
A Symonds (DCH/MI)                        974.0
AB de Villiers (DC/RCB)                  5162.0
AC Gilchrist (DCH/KXIP)                  2069.0
AD Mathews (DC/KKR/PWI)                   724.0
                                          ...
WP Saha (CSK/GT/KKR/KXIP/SRH)            2934.0
Y Venugopal Rao (DC/DCH/SRH)              985.0
YBK Jaiswal (RR)                         1607.0
YK Pathan (KKR/RR/SRH)                   3204.0
Yuvraj Singh (DC/KXIP/MI/PWI/RCB/SRH)    2750.0
Name: Runs, Length: 150, dtype: float64

In [25]:
category_gropus[most_runs_df.columns[5]].mean().sort_index(ascending=False)

Player
Yuvraj Singh (DC/KXIP/MI/PWI/RCB/SRH)    2750.0
YK Pathan (KKR/RR/SRH)                   3204.0
YBK Jaiswal (RR)                         1607.0
Y Venugopal Rao (DC/DCH/SRH)              985.0
WP Saha (CSK/GT/KKR/KXIP/SRH)            2934.0
                                          ...
AD Mathews (DC/KKR/PWI)                   724.0
AC Gilchrist (DCH/KXIP)                  2069.0
AB de Villiers (DC/RCB)                  5162.0
A Symonds (DCH/MI)                        974.0
A Badoni (LSG)                            634.0
Name: Runs, Length: 150, dtype: float64

In [26]:
category_gropus[most_runs_df.columns[5]].mean().sort_values(ascending=False)

Player
V Kohli (RCB)                    8004.0
S Dhawan (DC/DCH/MI/PBKS/SRH)    6769.0
RG Sharma (DCH/MI)               6628.0
DA Warner (DC/SRH)               6565.0
SK Raina (CSK/GL)                5528.0
                                  ...
Gurkeerat Singh (KXIP/RCB)        511.0
OA Shah (KKR/Kochi/RR)            506.0
PC Valthaty (KXIP/RR)             505.0
SW Billings (CSK/DC/KKR)          503.0
RR Rossouw (DC/PBKS/RCB)          473.0
Name: Runs, Length: 150, dtype: float64

In [27]:
most_runs_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli (RCB),2008-2024,252,244,37,8004,113*,38.66,6065,131.97,8,55,10,705,272
1,S Dhawan (DC/DCH/MI/PBKS/SRH),2008-2024,222,221,29,6769,106*,35.25,5324,127.14,2,51,11,768,152
2,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109*,29.72,5054,131.14,2,43,17,599,280
3,DA Warner (DC/SRH),2009-2024,184,184,22,6565,126,40.52,4697,139.77,4,62,11,663,236
4,SK Raina (CSK/GL),2008-2021,205,200,30,5528,100*,32.51,4043,136.73,1,39,8,506,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Gurkeerat Singh (KXIP/RCB),2012-2020,41,32,8,511,65,21.29,422,121.09,-,2,4,55,11
146,OA Shah (KKR/Kochi/RR),2010-2013,23,22,7,506,76,33.73,389,130.07,-,4,-,34,23
147,PC Valthaty (KXIP/RR),2009-2013,23,23,1,505,120*,22.95,418,120.81,1,2,1,60,20
148,SW Billings (CSK/DC/KKR),2016-2022,30,27,1,503,56,19.34,388,129.63,-,3,3,40,20
149,RR Rossouw (DC/PBKS/RCB),2014-2024,22,22,2,473,82*,23.65,308,153.57,-,2,4,45,25

In [28]:
most_runs_df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO         object
Runs        int64
HS         object
Ave       float64
BF          int64
SR        float64
100        object
50         object
0          object
4s          int64
6s          int64
dtype: object

In [29]:
most_runs_df[most_runs_df.columns[4]].unique()

array(['37', '29', '22', '30', '95', '40', '16', '17', '50', '20', '11',
       '19', '33', '27', '23', '12', '52', '15', '44', '6', '18', '76',
       '24', '43', '5', '4', '9', '21', '7', '8', '26', '-', '3', '36',
       '38', '2', '13', '10', '14', '25', '28', '34', '1'], dtype=object)

In [30]:
most_runs_df[most_runs_df.columns[5]].unique()

array([8004, 6769, 6628, 6565, 5528, 5243, 5162, 4965, 4952, 4842, 4683,
       4642, 4571, 4419, 4348, 4217, 3874, 3850, 3594, 3582, 3412, 3284,
       3216, 3204, 3157, 3127, 2959, 2934, 2924, 2880, 2848, 2771, 2750,
       2728, 2661, 2644, 2636, 2619, 2525, 2485, 2484, 2477, 2427, 2385,
       2380, 2334, 2236, 2174, 2128, 2091, 2069, 2029, 1977, 1892, 1866,
       1802, 1769, 1706, 1695, 1687, 1653, 1647, 1607, 1589, 1560, 1559,
       1554, 1534, 1502, 1496, 1494, 1465, 1441, 1405, 1400, 1377, 1349,
       1329, 1326, 1322, 1243, 1208, 1173, 1162, 1156, 1153, 1139, 1115,
       1107, 1083, 1079, 1034, 1017, 1013, 1001, 1000,  995,  993,  985,
        974,  954,  939,  935,  924,  893,  886,  883,  880,  833,  800,
        799,  798,  793,  772,  768,  756,  739,  730,  724,  707,  676,
        672,  665,  663,  659,  654,  653,  634,  624,  618,  614,  604,
        585,  577,  553,  545,  538,  536,  531,  527,  515,  514,  511,
        506,  505,  503,  473], dtype=int64)

In [31]:
freq_dist_NO = most_runs_df[most_runs_df.columns[4]].value_counts()

In [32]:
freq_dist_NO.index[0]

'2'

In [33]:
most_runs_df[most_runs_df.columns[4]].replace(to_replace=["-"],value=[np.nan],inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\3403301693.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  most_runs_df[most_runs_df.columns[4]].replace(to_replace=["-"],value=[np.nan],inplace=True)

In [34]:
most_runs_df[most_runs_df.columns[4]].unique()

array(['37', '29', '22', '30', '95', '40', '16', '17', '50', '20', '11',
       '19', '33', '27', '23', '12', '52', '15', '44', '6', '18', '76',
       '24', '43', '5', '4', '9', '21', '7', '8', '26', nan, '3', '36',
       '38', '2', '13', '10', '14', '25', '28', '34', '1'], dtype=object)

In [35]:
NO_copy = most_runs_df[most_runs_df.columns[4]].fillna(value=freq_dist_NO.index[0])

In [36]:
NO_copy.unique()

array(['37', '29', '22', '30', '95', '40', '16', '17', '50', '20', '11',
       '19', '33', '27', '23', '12', '52', '15', '44', '6', '18', '76',
       '24', '43', '5', '4', '9', '21', '7', '8', '26', '2', '3', '36',
       '38', '13', '10', '14', '25', '28', '34', '1'], dtype=object)

In [37]:
NO_copy.astype("int64").dtypes

dtype('int64')

In [38]:
most_runs_df[most_runs_df[most_runs_df.columns[4]].isna()]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
53,PP Shaw (DC),2018-2024,79,79,NaN,1892,99,23.94,1283,147.46,-,14,7,238,61
116,Prabhsimran Singh (KXIP/PBKS),2019-2024,34,34,NaN,756,103,22.23,517,146.22,1,3,3,78,41

In [39]:
most_frequent_value = most_runs_df[most_runs_df.columns[4]].mode()[0]

In [40]:
most_frequent_value

'2'

In [41]:
most_runs_df[most_runs_df.columns[4]].fillna(value=most_frequent_value, inplace=True)

In [42]:
most_runs_df[most_runs_df.columns[4]].isna().sum()

0

In [43]:
most_runs_df[most_runs_df.columns[4]] = most_runs_df[most_runs_df.columns[4]].astype("int64")

In [44]:
most_runs_df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS         object
Ave       float64
BF          int64
SR        float64
100        object
50         object
0          object
4s          int64
6s          int64
dtype: object

In [45]:
most_runs_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli (RCB),2008-2024,252,244,37,8004,113*,38.66,6065,131.97,8,55,10,705,272
1,S Dhawan (DC/DCH/MI/PBKS/SRH),2008-2024,222,221,29,6769,106*,35.25,5324,127.14,2,51,11,768,152
2,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109*,29.72,5054,131.14,2,43,17,599,280
3,DA Warner (DC/SRH),2009-2024,184,184,22,6565,126,40.52,4697,139.77,4,62,11,663,236
4,SK Raina (CSK/GL),2008-2021,205,200,30,5528,100*,32.51,4043,136.73,1,39,8,506,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Gurkeerat Singh (KXIP/RCB),2012-2020,41,32,8,511,65,21.29,422,121.09,-,2,4,55,11
146,OA Shah (KKR/Kochi/RR),2010-2013,23,22,7,506,76,33.73,389,130.07,-,4,-,34,23
147,PC Valthaty (KXIP/RR),2009-2013,23,23,1,505,120*,22.95,418,120.81,1,2,1,60,20
148,SW Billings (CSK/DC/KKR),2016-2022,30,27,1,503,56,19.34,388,129.63,-,3,3,40,20
149,RR Rossouw (DC/PBKS/RCB),2014-2024,22,22,2,473,82*,23.65,308,153.57,-,2,4,45,25

In [46]:
most_runs_df[most_runs_df.columns[10]].unique()

array(['8', '2', '4', '1', '-', '3', '6', '7'], dtype=object)

In [47]:
freq_dist_100 = most_runs_df[most_runs_df.columns[10]].value_counts()

In [48]:
freq_dist_100.index[1]

'1'

In [49]:
most_runs_df[most_runs_df.columns[10]].replace(to_replace=["-"],value=np.nan,inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\1913548489.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  most_runs_df[most_runs_df.columns[10]].replace(to_replace=["-"],value=np.nan,inplace=True)

In [50]:
most_runs_df[most_runs_df.columns[10]].unique()

array(['8', '2', '4', '1', nan, '3', '6', '7'], dtype=object)

In [51]:
hundred_copy = most_runs_df[most_runs_df.columns[10]].fillna(value=freq_dist_100.index[1])

In [52]:
hundred_copy.unique()

array(['8', '2', '4', '1', '3', '6', '7'], dtype=object)

In [53]:
hundred_copy.astype("int64").dtypes

dtype('int64')

In [54]:
most_runs_df[most_runs_df[most_runs_df.columns[10]].isna()]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
5,MS Dhoni (CSK/RPS),2008-2024,264,229,95,5243,84*,39.12,3812,137.53,NaN,24,6,363,252
8,RV Uthappa (CSK/KKR/MI/PWI/RCB/RR),2008-2022,205,197,17,4952,88,27.51,3799,130.35,NaN,27,8,481,182
9,KD Karthik (DC/GL/KKR/KXIP/MI/RCB),2008-2024,257,234,50,4842,97*,26.31,3577,135.36,NaN,22,18,466,161
12,F du Plessis (CSK/RCB/RPS),2012-2024,145,138,11,4571,96,35.99,3352,136.36,NaN,37,7,421,166
15,G Gambhir (DC/KKR),2008-2018,154,152,16,4217,93,31.00,3404,123.88,NaN,36,12,492,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,M Manhas (CSK/DC/PWI),2008-2014,55,38,15,514,42*,22.34,470,109.36,NaN,-,6,43,10
145,Gurkeerat Singh (KXIP/RCB),2012-2020,41,32,8,511,65,21.29,422,121.09,NaN,2,4,55,11
146,OA Shah (KKR/Kochi/RR),2010-2013,23,22,7,506,76,33.73,389,130.07,NaN,4,-,34,23
148,SW Billings (CSK/DC/KKR),2016-2022,30,27,1,503,56,19.34,388,129.63,NaN,3,3,40,20
149,RR Rossouw (DC/PBKS/RCB),2014-2024,22,22,2,473,82*,23.65,308,153.57,NaN,2,4,45,25

In [55]:
most_frequent_100 = most_runs_df[most_runs_df.columns[10]].mode()[0]

In [56]:
most_frequent_100

'1'

In [57]:
most_runs_df[most_runs_df.columns[10]].fillna(value=most_frequent_100, inplace=True)

In [58]:
most_runs_df[most_runs_df.columns[10]].isna().sum()

0

In [59]:
most_runs_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli (RCB),2008-2024,252,244,37,8004,113*,38.66,6065,131.97,8,55,10,705,272
1,S Dhawan (DC/DCH/MI/PBKS/SRH),2008-2024,222,221,29,6769,106*,35.25,5324,127.14,2,51,11,768,152
2,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109*,29.72,5054,131.14,2,43,17,599,280
3,DA Warner (DC/SRH),2009-2024,184,184,22,6565,126,40.52,4697,139.77,4,62,11,663,236
4,SK Raina (CSK/GL),2008-2021,205,200,30,5528,100*,32.51,4043,136.73,1,39,8,506,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Gurkeerat Singh (KXIP/RCB),2012-2020,41,32,8,511,65,21.29,422,121.09,1,2,4,55,11
146,OA Shah (KKR/Kochi/RR),2010-2013,23,22,7,506,76,33.73,389,130.07,1,4,-,34,23
147,PC Valthaty (KXIP/RR),2009-2013,23,23,1,505,120*,22.95,418,120.81,1,2,1,60,20
148,SW Billings (CSK/DC/KKR),2016-2022,30,27,1,503,56,19.34,388,129.63,1,3,3,40,20
149,RR Rossouw (DC/PBKS/RCB),2014-2024,22,22,2,473,82*,23.65,308,153.57,1,2,4,45,25

In [60]:
most_runs_df[most_runs_df.columns[10]] = most_runs_df[most_runs_df.columns[10]].astype("int64")

In [61]:
most_runs_df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS         object
Ave       float64
BF          int64
SR        float64
100         int64
50         object
0          object
4s          int64
6s          int64
dtype: object

In [62]:
most_runs_df[most_runs_df.columns[11]].unique()

array(['55', '51', '43', '62', '39', '24', '40', '31', '27', '22', '37',
       '30', '25', '36', '21', '19', '16', '18', '20', '13', '23', '3',
       '10', '11', '17', '12', '15', '14', '9', '6', '7', '1', '5', '8',
       '4', '2', '-'], dtype=object)

In [63]:
freq_dist_50 = most_runs_df[most_runs_df.columns[11]].value_counts()

In [64]:
freq_dist_50.index[0]

'3'

In [65]:
most_runs_df[most_runs_df.columns[11]].replace(to_replace=["-"],value=np.nan,inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\2671204229.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  most_runs_df[most_runs_df.columns[11]].replace(to_replace=["-"],value=np.nan,inplace=True)

In [66]:
most_runs_df[most_runs_df.columns[11]].unique()

array(['55', '51', '43', '62', '39', '24', '40', '31', '27', '22', '37',
       '30', '25', '36', '21', '19', '16', '18', '20', '13', '23', '3',
       '10', '11', '17', '12', '15', '14', '9', '6', '7', '1', '5', '8',
       '4', '2', nan], dtype=object)

In [67]:
fifty_copy = most_runs_df[most_runs_df.columns[11]].fillna(value=freq_dist_50.index[0])

In [68]:
fifty_copy.unique()

array(['55', '51', '43', '62', '39', '24', '40', '31', '27', '22', '37',
       '30', '25', '36', '21', '19', '16', '18', '20', '13', '23', '3',
       '10', '11', '17', '12', '15', '14', '9', '6', '7', '1', '5', '8',
       '4', '2'], dtype=object)

In [69]:
fifty_copy.astype("int64").dtypes

dtype('int64')

In [70]:
most_runs_df[most_runs_df[most_runs_df.columns[11]].isna()]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
108,STR Binny (MI/RCB/RR),2010-2019,95,68,22,880,48*,19.13,683,128.84,1,NaN,7,66,35
118,JM Sharma (PBKS),2022-2024,40,36,4,730,49*,22.81,483,151.13,1,NaN,2,53,45
122,AM Nayar (KXIP/MI/PWI/RR),2008-2014,60,50,12,672,45*,17.68,577,116.46,1,NaN,3,55,20
125,TH David (MI/RCB),2021-2024,38,35,12,659,46,28.65,387,170.28,1,NaN,3,38,46
129,PP Chawla (CSK/KKR/KXIP/MI),2008-2024,192,92,36,624,24*,11.14,563,110.83,1,NaN,16,56,20
135,Abdul Samad (SRH),2020-2024,50,40,10,577,37*,19.23,395,146.07,1,NaN,3,37,36
142,JP Faulkner (GL/KXIP/PWI/RR),2011-2017,60,45,20,527,46,21.08,389,135.47,1,NaN,-,36,23
144,M Manhas (CSK/DC/PWI),2008-2014,55,38,15,514,42*,22.34,470,109.36,1,NaN,6,43,10

In [71]:
most_frequent_50 = most_runs_df[most_runs_df.columns[11]].mode()[0]

In [72]:
most_frequent_50

'3'

In [73]:
most_runs_df[most_runs_df.columns[11]].fillna(value=most_frequent_50, inplace=True)

In [74]:
most_runs_df[most_runs_df.columns[11]].isna().sum()

0

In [75]:
most_runs_df[most_runs_df.columns[11]] = most_runs_df[most_runs_df.columns[11]].astype("int64")

In [76]:
most_runs_df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS         object
Ave       float64
BF          int64
SR        float64
100         int64
50          int64
0          object
4s          int64
6s          int64
dtype: object

In [77]:
most_runs_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli (RCB),2008-2024,252,244,37,8004,113*,38.66,6065,131.97,8,55,10,705,272
1,S Dhawan (DC/DCH/MI/PBKS/SRH),2008-2024,222,221,29,6769,106*,35.25,5324,127.14,2,51,11,768,152
2,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109*,29.72,5054,131.14,2,43,17,599,280
3,DA Warner (DC/SRH),2009-2024,184,184,22,6565,126,40.52,4697,139.77,4,62,11,663,236
4,SK Raina (CSK/GL),2008-2021,205,200,30,5528,100*,32.51,4043,136.73,1,39,8,506,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Gurkeerat Singh (KXIP/RCB),2012-2020,41,32,8,511,65,21.29,422,121.09,1,2,4,55,11
146,OA Shah (KKR/Kochi/RR),2010-2013,23,22,7,506,76,33.73,389,130.07,1,4,-,34,23
147,PC Valthaty (KXIP/RR),2009-2013,23,23,1,505,120*,22.95,418,120.81,1,2,1,60,20
148,SW Billings (CSK/DC/KKR),2016-2022,30,27,1,503,56,19.34,388,129.63,1,3,3,40,20
149,RR Rossouw (DC/PBKS/RCB),2014-2024,22,22,2,473,82*,23.65,308,153.57,1,2,4,45,25

In [78]:
most_runs_df[most_runs_df.columns[12]].unique()

array(['10', '11', '17', '8', '6', '18', '4', '13', '7', '14', '12', '5',
       '9', '1', '3', '2', '15', '16', '-'], dtype=object)

In [79]:
freq_dist_0 = most_runs_df[most_runs_df.columns[12]].value_counts()

In [80]:
freq_dist_0.index[0]

'3'

In [81]:
most_runs_df[most_runs_df.columns[12]].replace(to_replace=["-"],value=np.nan,inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\1066538794.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  most_runs_df[most_runs_df.columns[12]].replace(to_replace=["-"],value=np.nan,inplace=True)

In [82]:
most_runs_df[most_runs_df.columns[12]].unique()

array(['10', '11', '17', '8', '6', '18', '4', '13', '7', '14', '12', '5',
       '9', '1', '3', '2', '15', '16', nan], dtype=object)

In [83]:
zero_copy = most_runs_df[most_runs_df.columns[12]].fillna(value=freq_dist_0.index[0])

In [84]:
zero_copy.unique()

array(['10', '11', '17', '8', '6', '18', '4', '13', '7', '14', '12', '5',
       '9', '1', '3', '2', '15', '16'], dtype=object)

In [85]:
zero_copy.astype("int64").dtypes

dtype('int64')

In [86]:
most_runs_df[most_runs_df[most_runs_df.columns[12]].isna()]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
91,B Sai Sudharsan (GT),2022-2024,25,25,3,1034,103,47.00,743,139.16,1,6,NaN,95,31
93,R Tewatia (DC/GT/KXIP/RR),2014-2024,93,65,25,1013,53,25.32,752,134.70,1,1,NaN,84,47
99,A Symonds (DCH/MI),2008-2011,39,36,9,974,117*,36.07,750,129.86,1,5,NaN,74,41
105,RK Singh (KKR),2018-2024,46,40,11,893,67*,30.79,623,143.33,1,4,NaN,67,46
120,C Green (MI/RCB),2023-2024,29,28,11,707,100*,41.58,460,153.69,1,2,NaN,62,32
131,JJ Roy (DC/GL/KKR/SRH),2017-2023,21,21,2,614,91*,32.31,443,138.60,1,4,NaN,75,21
142,JP Faulkner (GL/KXIP/PWI/RR),2011-2017,60,45,20,527,46,21.08,389,135.47,1,3,NaN,36,23
146,OA Shah (KKR/Kochi/RR),2010-2013,23,22,7,506,76,33.73,389,130.07,1,4,NaN,34,23

In [87]:
most_frequent_0 = most_runs_df[most_runs_df.columns[12]].mode()[0]

In [88]:
most_frequent_0

'3'

In [89]:
most_runs_df[most_runs_df.columns[12]].fillna(value=most_frequent_0, inplace=True)

In [90]:
most_runs_df[most_runs_df.columns[12]].isna().sum()

0

In [91]:
most_runs_df[most_runs_df.columns[12]] = most_runs_df[most_runs_df.columns[12]].astype("int64")

In [92]:
most_runs_df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS         object
Ave       float64
BF          int64
SR        float64
100         int64
50          int64
0           int64
4s          int64
6s          int64
dtype: object

In [93]:
most_runs_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli (RCB),2008-2024,252,244,37,8004,113*,38.66,6065,131.97,8,55,10,705,272
1,S Dhawan (DC/DCH/MI/PBKS/SRH),2008-2024,222,221,29,6769,106*,35.25,5324,127.14,2,51,11,768,152
2,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109*,29.72,5054,131.14,2,43,17,599,280
3,DA Warner (DC/SRH),2009-2024,184,184,22,6565,126,40.52,4697,139.77,4,62,11,663,236
4,SK Raina (CSK/GL),2008-2021,205,200,30,5528,100*,32.51,4043,136.73,1,39,8,506,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Gurkeerat Singh (KXIP/RCB),2012-2020,41,32,8,511,65,21.29,422,121.09,1,2,4,55,11
146,OA Shah (KKR/Kochi/RR),2010-2013,23,22,7,506,76,33.73,389,130.07,1,4,3,34,23
147,PC Valthaty (KXIP/RR),2009-2013,23,23,1,505,120*,22.95,418,120.81,1,2,1,60,20
148,SW Billings (CSK/DC/KKR),2016-2022,30,27,1,503,56,19.34,388,129.63,1,3,3,40,20
149,RR Rossouw (DC/PBKS/RCB),2014-2024,22,22,2,473,82*,23.65,308,153.57,1,2,4,45,25

In [94]:
most_runs_df[most_runs_df.columns[6]].unique()

array(['113*', '106*', '109*', '126', '100*', '84*', '133*', '175*', '88',
       '97*', '132*', '105*', '96', '119', '93', '117*', '114*', '103*',
       '124', '87*', '128*', '129', '100', '140*', '62*', '115*', '101*',
       '158*', '81', '95', '83', '122', '106', '99', '87', '127', '91',
       '101', '88*', '115', '89*', '108*', '75*', '89', '78*', '116*',
       '124*', '110*', '77', '77*', '94', '66', '86', '114', '70*', '94*',
       '109', '95*', '83*', '61', '64', '71*', '68*', '73', '93*', '104',
       '71', '75', '69', '76*', '60', '63*', '103', '81*', '53', '74*',
       '73*', '78', '107*', '92*', '67*', '69*', '48*', '50', '112*',
       '92', '66*', '102', '49*', '65*', '45*', '61*', '46', '65', '59*',
       '24*', '82*', '91*', '67', '104*', '37*', '58', '79*', '84', '54*',
       '42*', '76', '120*', '56'], dtype=object)

In [95]:
most_runs_df[most_runs_df.columns[6]].isna().sum()

0

In [96]:
most_runs_df[most_runs_df.columns[6]] = most_runs_df[most_runs_df.columns[6]].str.replace("*","",regex=False).astype("int64")

In [97]:
most_runs_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli (RCB),2008-2024,252,244,37,8004,113,38.66,6065,131.97,8,55,10,705,272
1,S Dhawan (DC/DCH/MI/PBKS/SRH),2008-2024,222,221,29,6769,106,35.25,5324,127.14,2,51,11,768,152
2,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109,29.72,5054,131.14,2,43,17,599,280
3,DA Warner (DC/SRH),2009-2024,184,184,22,6565,126,40.52,4697,139.77,4,62,11,663,236
4,SK Raina (CSK/GL),2008-2021,205,200,30,5528,100,32.51,4043,136.73,1,39,8,506,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Gurkeerat Singh (KXIP/RCB),2012-2020,41,32,8,511,65,21.29,422,121.09,1,2,4,55,11
146,OA Shah (KKR/Kochi/RR),2010-2013,23,22,7,506,76,33.73,389,130.07,1,4,3,34,23
147,PC Valthaty (KXIP/RR),2009-2013,23,23,1,505,120,22.95,418,120.81,1,2,1,60,20
148,SW Billings (CSK/DC/KKR),2016-2022,30,27,1,503,56,19.34,388,129.63,1,3,3,40,20
149,RR Rossouw (DC/PBKS/RCB),2014-2024,22,22,2,473,82,23.65,308,153.57,1,2,4,45,25

In [98]:
most_runs_df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS          int64
Ave       float64
BF          int64
SR        float64
100         int64
50          int64
0           int64
4s          int64
6s          int64
dtype: object

In [99]:
most_runs_df["Start_Year"] = most_runs_df["Span"].str.split("-").str[0].astype("int64")
most_runs_df["End_Year"] = most_runs_df["Span"].str.split("-").str[1].astype("int64")
most_runs_df["Career_Span"] = most_runs_df["End_Year"] - most_runs_df["Start_Year"] + 1

In [100]:
most_runs_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Start_Year,End_Year,Career_Span
0,V Kohli (RCB),2008-2024,252,244,37,8004,113,38.66,6065,131.97,8,55,10,705,272,2008,2024,17
1,S Dhawan (DC/DCH/MI/PBKS/SRH),2008-2024,222,221,29,6769,106,35.25,5324,127.14,2,51,11,768,152,2008,2024,17
2,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109,29.72,5054,131.14,2,43,17,599,280,2008,2024,17
3,DA Warner (DC/SRH),2009-2024,184,184,22,6565,126,40.52,4697,139.77,4,62,11,663,236,2009,2024,16
4,SK Raina (CSK/GL),2008-2021,205,200,30,5528,100,32.51,4043,136.73,1,39,8,506,203,2008,2021,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Gurkeerat Singh (KXIP/RCB),2012-2020,41,32,8,511,65,21.29,422,121.09,1,2,4,55,11,2012,2020,9
146,OA Shah (KKR/Kochi/RR),2010-2013,23,22,7,506,76,33.73,389,130.07,1,4,3,34,23,2010,2013,4
147,PC Valthaty (KXIP/RR),2009-2013,23,23,1,505,120,22.95,418,120.81,1,2,1,60,20,2009,2013,5
148,SW Billings (CSK/DC/KKR),2016-2022,30,27,1,503,56,19.34,388,129.63,1,3,3,40,20,2016,2022,7
149,RR Rossouw (DC/PBKS/RCB),2014-2024,22,22,2,473,82,23.65,308,153.57,1,2,4,45,25,2014,2024,11

In [101]:
most_runs_df.drop(columns=most_runs_df.columns[1], inplace=True)

In [102]:
most_runs_df

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Start_Year,End_Year,Career_Span
0,V Kohli (RCB),252,244,37,8004,113,38.66,6065,131.97,8,55,10,705,272,2008,2024,17
1,S Dhawan (DC/DCH/MI/PBKS/SRH),222,221,29,6769,106,35.25,5324,127.14,2,51,11,768,152,2008,2024,17
2,RG Sharma (DCH/MI),257,252,29,6628,109,29.72,5054,131.14,2,43,17,599,280,2008,2024,17
3,DA Warner (DC/SRH),184,184,22,6565,126,40.52,4697,139.77,4,62,11,663,236,2009,2024,16
4,SK Raina (CSK/GL),205,200,30,5528,100,32.51,4043,136.73,1,39,8,506,203,2008,2021,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Gurkeerat Singh (KXIP/RCB),41,32,8,511,65,21.29,422,121.09,1,2,4,55,11,2012,2020,9
146,OA Shah (KKR/Kochi/RR),23,22,7,506,76,33.73,389,130.07,1,4,3,34,23,2010,2013,4
147,PC Valthaty (KXIP/RR),23,23,1,505,120,22.95,418,120.81,1,2,1,60,20,2009,2013,5
148,SW Billings (CSK/DC/KKR),30,27,1,503,56,19.34,388,129.63,1,3,3,40,20,2016,2022,7
149,RR Rossouw (DC/PBKS/RCB),22,22,2,473,82,23.65,308,153.57,1,2,4,45,25,2014,2024,11

In [103]:
most_runs_df.dtypes

Player          object
Mat              int64
Inns             int64
NO               int64
Runs             int64
HS               int64
Ave            float64
BF               int64
SR             float64
100              int64
50               int64
0                int64
4s               int64
6s               int64
Start_Year       int64
End_Year         int64
Career_Span      int64
dtype: object

In [104]:
most_runs_df.isna().sum()

Player         0
Mat            0
Inns           0
NO             0
Runs           0
HS             0
Ave            0
BF             0
SR             0
100            0
50             0
0              0
4s             0
6s             0
Start_Year     0
End_Year       0
Career_Span    0
dtype: int64

In [105]:
most_runs_df.duplicated().sum()

0

### High Scores

In [106]:
high_scores_df

,Player,Runs,Mins,Balls,4s,6s,SR,Team,Opposition,Ground,Match Date,Scorecard
0,CH Gayle,175*,102,66,13,17,265.15,RCB,v Warriors,Bengaluru,23 Apr 2013,Twenty20
1,BB McCullum,158*,-,73,10,13,216.43,KKR,v RCB,Bengaluru,18 Apr 2008,Twenty20
2,Q de Kock,140*,97,70,10,10,200.00,LSG,v KKR,DY Patil,18 May 2022,Twenty20
3,AB de Villiers,133*,82,59,19,4,225.42,RCB,v MI,Wankhede,10 May 2015,Twenty20
4,KL Rahul,132*,-,69,14,7,191.30,Kings XI,v RCB,Dubai (DICS),24 Sep 2020,Twenty20
...,...,...,...,...,...,...,...,...,...,...,...,...
95,JC Buttler,100*,95,58,9,4,172.41,RR,v RCB,Jaipur,06 Apr 2024,Twenty20
96,WG Jacks,100*,50,41,5,10,243.90,RCB,v GT,Ahmedabad,28 Apr 2024,Twenty20
97,YK Pathan,100,-,37,9,8,270.27,RR,v MI,Brabourne,13 Mar 2010,Twenty20
98,V Kohli,100,98,58,9,4,172.41,RCB,v KKR,Eden Gardens,19 Apr 2019,Twenty20
99,JC Buttler,100,97,68,11,5,147.05,RR,v MI,DY Patil,02 Apr 2022,Twenty20

In [107]:
high_scores_df.dtypes

Player         object
Runs           object
Mins           object
Balls           int64
4s              int64
6s              int64
SR            float64
Team           object
Opposition     object
Ground         object
Match Date     object
Scorecard      object
dtype: object

In [108]:
high_scores_df[high_scores_df.columns[1]] = high_scores_df[high_scores_df.columns[1]].str.replace("*", "", regex=False).astype(int)

In [109]:
high_scores_df

,Player,Runs,Mins,Balls,4s,6s,SR,Team,Opposition,Ground,Match Date,Scorecard
0,CH Gayle,175,102,66,13,17,265.15,RCB,v Warriors,Bengaluru,23 Apr 2013,Twenty20
1,BB McCullum,158,-,73,10,13,216.43,KKR,v RCB,Bengaluru,18 Apr 2008,Twenty20
2,Q de Kock,140,97,70,10,10,200.00,LSG,v KKR,DY Patil,18 May 2022,Twenty20
3,AB de Villiers,133,82,59,19,4,225.42,RCB,v MI,Wankhede,10 May 2015,Twenty20
4,KL Rahul,132,-,69,14,7,191.30,Kings XI,v RCB,Dubai (DICS),24 Sep 2020,Twenty20
...,...,...,...,...,...,...,...,...,...,...,...,...
95,JC Buttler,100,95,58,9,4,172.41,RR,v RCB,Jaipur,06 Apr 2024,Twenty20
96,WG Jacks,100,50,41,5,10,243.90,RCB,v GT,Ahmedabad,28 Apr 2024,Twenty20
97,YK Pathan,100,-,37,9,8,270.27,RR,v MI,Brabourne,13 Mar 2010,Twenty20
98,V Kohli,100,98,58,9,4,172.41,RCB,v KKR,Eden Gardens,19 Apr 2019,Twenty20
99,JC Buttler,100,97,68,11,5,147.05,RR,v MI,DY Patil,02 Apr 2022,Twenty20

In [110]:
high_scores_df[high_scores_df.columns[2]].unique()

array(['102', '-', '97', '82', '78', '86', '95', '80', '104', '112', '84',
       '103', '66', '76', '94', '100', '79', '89', '98', '91', '113',
       '68', '99', '105', '88', '90', '62', '92', '85', '106', '73', '93',
       '87', '58', '54', '74', '77', '110', '50'], dtype=object)

In [111]:
freq_dist_high = high_scores_df[high_scores_df.columns[2]].value_counts()

In [112]:
freq_dist_high.index[1]

'82'

In [113]:
high_scores_df[high_scores_df.columns[2]].replace(to_replace=["-"],value=np.nan,inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\384055080.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  high_scores_df[high_scores_df.columns[2]].replace(to_replace=["-"],value=np.nan,inplace=True)

In [114]:
high_scores_df[high_scores_df.columns[2]].unique()

array(['102', nan, '97', '82', '78', '86', '95', '80', '104', '112', '84',
       '103', '66', '76', '94', '100', '79', '89', '98', '91', '113',
       '68', '99', '105', '88', '90', '62', '92', '85', '106', '73', '93',
       '87', '58', '54', '74', '77', '110', '50'], dtype=object)

In [115]:
high_score_copy = high_scores_df[high_scores_df.columns[2]].fillna(value=freq_dist_high.index[1])

In [116]:
high_score_copy.unique()

array(['102', '82', '97', '78', '86', '95', '80', '104', '112', '84',
       '103', '66', '76', '94', '100', '79', '89', '98', '91', '113',
       '68', '99', '105', '88', '90', '62', '92', '85', '106', '73', '93',
       '87', '58', '54', '74', '77', '110', '50'], dtype=object)

In [117]:
high_score_copy.astype("int64").dtypes

dtype('int64')

In [118]:
high_scores_df[high_scores_df[high_scores_df.columns[2]].isna()]

,Player,Runs,Mins,Balls,4s,6s,SR,Team,Opposition,Ground,Match Date,Scorecard
1,BB McCullum,158,NaN,73,10,13,216.43,KKR,v RCB,Bengaluru,18 Apr 2008,Twenty20
4,KL Rahul,132,NaN,69,14,7,191.30,Kings XI,v RCB,Dubai (DICS),24 Sep 2020,Twenty20
8,RR Pant,128,NaN,63,15,7,203.17,Daredevils,v SRH,Delhi,10 May 2018,Twenty20
9,M Vijay,127,NaN,56,8,11,226.78,CSK,v RR,Chennai,03 Apr 2010,Twenty20
14,V Sehwag,122,NaN,58,12,8,210.34,Kings XI,v CSK,Wankhede,30 May 2014,Twenty20
15,PC Valthaty,120,NaN,63,19,2,190.47,Kings XI,v CSK,Mohali,13 Apr 2011,Twenty20
16,V Sehwag,119,NaN,56,13,6,212.50,Daredevils,v Chargers,Hyderabad,05 May 2011,Twenty20
18,A Symonds,117,NaN,53,11,7,220.75,Chargers,v RR,Hyderabad,24 Apr 2008,Twenty20
19,SR Watson,117,NaN,57,11,8,205.26,CSK,v SRH,Wankhede,27 May 2018,Twenty20
21,MEK Hussey,116,NaN,54,8,9,214.81,CSK,v Kings XI,Mohali,19 Apr 2008,Twenty20
24,SE Marsh,115,NaN,69,11,7,166.66,Kings XI,v RR,Mohali,28 May 2008,Twenty20
25,ST Jayasuriya,114,NaN,48,9,11,237.50,MI,v CSK,Wankhede,14 May 2008,Twenty20
26,MK Pandey,114,NaN,73,10,4,156.16,RCB,v Chargers,Centurion,21 May 2009,Twenty20
29,M Vijay,113,NaN,58,15,4,194.82,CSK,v Daredevils,Chennai,25 May 2012,Twenty20
30,V Kohli,113,NaN,50,12,8,226.00,RCB,v Kings XI,Bengaluru,18 May 2016,Twenty20
32,DPMD Jayawardene,110,NaN,59,14,3,186.44,Kings XI,v KKR,Eden Gardens,04 Apr 2010,Twenty20
33,AC Gilchrist,109,NaN,47,9,10,231.91,Chargers,v MI,DY Patil,27 Apr 2008,Twenty20
42,DA Warner,107,NaN,69,9,5,155.07,Daredevils,v KKR,Delhi,29 Mar 2010,Twenty20
43,BA Stokes,107,NaN,60,14,3,178.33,RR,v MI,Abu Dhabi,25 Oct 2020,Twenty20
46,S Dhawan,106,NaN,61,12,3,173.77,DC,v Kings XI,Dubai (DICS),20 Oct 2020,Twenty20
48,AC Gilchrist,106,NaN,55,8,9,192.72,Kings XI,v RCB,Dharamsala,17 May 2011,Twenty20
49,SR Watson,106,NaN,57,9,6,185.96,CSK,v RR,Pune,20 Apr 2018,Twenty20
50,MA Agarwal,106,NaN,50,10,7,212.00,Kings XI,v RR,Sharjah,27 Sep 2020,Twenty20
51,AB de Villiers,105,NaN,54,5,6,194.44,Daredevils,v CSK,Durban,23 Apr 2009,Twenty20
56,CH Gayle,104,NaN,63,1,11,165.07,Kings XI,v SRH,Mohali,19 Apr 2018,Twenty20
72,CH Gayle,102,NaN,55,10,7,185.45,RCB,v KKR,Eden Gardens,22 Apr 2011,Twenty20
78,S Dhawan,101,NaN,58,14,1,174.13,DC,v CSK,Sharjah,17 Oct 2020,Twenty20
85,SR Tendulkar,100,NaN,66,12,3,151.51,MI,v Kochi,Wankhede,15 Apr 2011,Twenty20
90,AT Rayudu,100,NaN,62,7,7,161.29,CSK,v SRH,Pune,13 May 2018,Twenty20
97,YK Pathan,100,NaN,37,9,8,270.27,RR,v MI,Brabourne,13 Mar 2010,Twenty20

In [119]:
most_frequent_high_score = high_scores_df[high_scores_df.columns[2]].mode()[0]

In [120]:
most_frequent_high_score

'82'

In [121]:
high_scores_df[high_scores_df.columns[2]].fillna(value=most_frequent_high_score, inplace=True)

In [122]:
high_scores_df[high_scores_df.columns[2]].isna().sum()

0

In [123]:
high_scores_df[high_scores_df.columns[2]] = high_scores_df[high_scores_df.columns[2]].astype("int64")

In [124]:
high_scores_df.dtypes

Player         object
Runs            int32
Mins            int64
Balls           int64
4s              int64
6s              int64
SR            float64
Team           object
Opposition     object
Ground         object
Match Date     object
Scorecard      object
dtype: object

In [125]:
high_scores_df

,Player,Runs,Mins,Balls,4s,6s,SR,Team,Opposition,Ground,Match Date,Scorecard
0,CH Gayle,175,102,66,13,17,265.15,RCB,v Warriors,Bengaluru,23 Apr 2013,Twenty20
1,BB McCullum,158,82,73,10,13,216.43,KKR,v RCB,Bengaluru,18 Apr 2008,Twenty20
2,Q de Kock,140,97,70,10,10,200.00,LSG,v KKR,DY Patil,18 May 2022,Twenty20
3,AB de Villiers,133,82,59,19,4,225.42,RCB,v MI,Wankhede,10 May 2015,Twenty20
4,KL Rahul,132,82,69,14,7,191.30,Kings XI,v RCB,Dubai (DICS),24 Sep 2020,Twenty20
...,...,...,...,...,...,...,...,...,...,...,...,...
95,JC Buttler,100,95,58,9,4,172.41,RR,v RCB,Jaipur,06 Apr 2024,Twenty20
96,WG Jacks,100,50,41,5,10,243.90,RCB,v GT,Ahmedabad,28 Apr 2024,Twenty20
97,YK Pathan,100,82,37,9,8,270.27,RR,v MI,Brabourne,13 Mar 2010,Twenty20
98,V Kohli,100,98,58,9,4,172.41,RCB,v KKR,Eden Gardens,19 Apr 2019,Twenty20
99,JC Buttler,100,97,68,11,5,147.05,RR,v MI,DY Patil,02 Apr 2022,Twenty20

In [126]:
high_scores_df[high_scores_df.columns[10]] = pd.to_datetime(high_scores_df[high_scores_df.columns[10]])

In [127]:
high_scores_df.dtypes

Player                object
Runs                   int32
Mins                   int64
Balls                  int64
4s                     int64
6s                     int64
SR                   float64
Team                  object
Opposition            object
Ground                object
Match Date    datetime64[ns]
Scorecard             object
dtype: object

In [128]:
high_scores_df

,Player,Runs,Mins,Balls,4s,6s,SR,Team,Opposition,Ground,Match Date,Scorecard
0,CH Gayle,175,102,66,13,17,265.15,RCB,v Warriors,Bengaluru,2013-04-23,Twenty20
1,BB McCullum,158,82,73,10,13,216.43,KKR,v RCB,Bengaluru,2008-04-18,Twenty20
2,Q de Kock,140,97,70,10,10,200.00,LSG,v KKR,DY Patil,2022-05-18,Twenty20
3,AB de Villiers,133,82,59,19,4,225.42,RCB,v MI,Wankhede,2015-05-10,Twenty20
4,KL Rahul,132,82,69,14,7,191.30,Kings XI,v RCB,Dubai (DICS),2020-09-24,Twenty20
...,...,...,...,...,...,...,...,...,...,...,...,...
95,JC Buttler,100,95,58,9,4,172.41,RR,v RCB,Jaipur,2024-04-06,Twenty20
96,WG Jacks,100,50,41,5,10,243.90,RCB,v GT,Ahmedabad,2024-04-28,Twenty20
97,YK Pathan,100,82,37,9,8,270.27,RR,v MI,Brabourne,2010-03-13,Twenty20
98,V Kohli,100,98,58,9,4,172.41,RCB,v KKR,Eden Gardens,2019-04-19,Twenty20
99,JC Buttler,100,97,68,11,5,147.05,RR,v MI,DY Patil,2022-04-02,Twenty20

In [129]:
high_scores_df.drop(columns=high_scores_df.columns[11], inplace=True)

In [130]:
high_scores_df

,Player,Runs,Mins,Balls,4s,6s,SR,Team,Opposition,Ground,Match Date
0,CH Gayle,175,102,66,13,17,265.15,RCB,v Warriors,Bengaluru,2013-04-23
1,BB McCullum,158,82,73,10,13,216.43,KKR,v RCB,Bengaluru,2008-04-18
2,Q de Kock,140,97,70,10,10,200.00,LSG,v KKR,DY Patil,2022-05-18
3,AB de Villiers,133,82,59,19,4,225.42,RCB,v MI,Wankhede,2015-05-10
4,KL Rahul,132,82,69,14,7,191.30,Kings XI,v RCB,Dubai (DICS),2020-09-24
...,...,...,...,...,...,...,...,...,...,...,...
95,JC Buttler,100,95,58,9,4,172.41,RR,v RCB,Jaipur,2024-04-06
96,WG Jacks,100,50,41,5,10,243.90,RCB,v GT,Ahmedabad,2024-04-28
97,YK Pathan,100,82,37,9,8,270.27,RR,v MI,Brabourne,2010-03-13
98,V Kohli,100,98,58,9,4,172.41,RCB,v KKR,Eden Gardens,2019-04-19
99,JC Buttler,100,97,68,11,5,147.05,RR,v MI,DY Patil,2022-04-02

### Most Sixes

In [131]:
most_sixes_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,CH Gayle (KKR/KXIP/PBKS/RCB),2009-2021,142,141,16,4965,175*,39.72,3333,148.96,6,31,8,404,357
1,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109*,29.72,5054,131.14,2,43,17,599,280
2,V Kohli (RCB),2008-2024,252,244,37,8004,113*,38.66,6065,131.97,8,55,10,705,272
3,MS Dhoni (CSK/RPS),2008-2024,264,229,95,5243,84*,39.12,3812,137.53,-,24,6,363,252
4,AB de Villiers (DC/RCB),2008-2021,184,170,40,5162,133*,39.70,3403,151.68,3,40,10,413,251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,MK Tiwary (DC/KKR/KXIP/RPS),2008-2018,98,85,26,1695,75*,28.72,1449,116.97,-,7,8,156,40
96,ST Jayasuriya (MI),2008-2010,30,30,2,768,114*,27.42,532,144.36,1,4,2,84,39
97,KK Nair (DC/KXIP/RCB/RR),2013-2022,76,68,5,1496,83*,23.74,1171,127.75,-,10,3,161,39
98,DPMD Jayawardene (DC/Kochi/KXIP),2008-2013,80,78,15,1802,110*,28.60,1462,123.25,1,10,2,200,39
99,MR Marsh (DC/DCH/PWI/RPS/SRH),2010-2024,42,36,2,665,89,19.55,521,127.63,-,3,5,48,38

In [132]:
most_sixes_df[most_sixes_df.columns[6]] = most_sixes_df[most_sixes_df.columns[6]].str.replace("*", "", regex=False).astype(int)

In [133]:
most_sixes_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,CH Gayle (KKR/KXIP/PBKS/RCB),2009-2021,142,141,16,4965,175,39.72,3333,148.96,6,31,8,404,357
1,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109,29.72,5054,131.14,2,43,17,599,280
2,V Kohli (RCB),2008-2024,252,244,37,8004,113,38.66,6065,131.97,8,55,10,705,272
3,MS Dhoni (CSK/RPS),2008-2024,264,229,95,5243,84,39.12,3812,137.53,-,24,6,363,252
4,AB de Villiers (DC/RCB),2008-2021,184,170,40,5162,133,39.70,3403,151.68,3,40,10,413,251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,MK Tiwary (DC/KKR/KXIP/RPS),2008-2018,98,85,26,1695,75,28.72,1449,116.97,-,7,8,156,40
96,ST Jayasuriya (MI),2008-2010,30,30,2,768,114,27.42,532,144.36,1,4,2,84,39
97,KK Nair (DC/KXIP/RCB/RR),2013-2022,76,68,5,1496,83,23.74,1171,127.75,-,10,3,161,39
98,DPMD Jayawardene (DC/Kochi/KXIP),2008-2013,80,78,15,1802,110,28.60,1462,123.25,1,10,2,200,39
99,MR Marsh (DC/DCH/PWI/RPS/SRH),2010-2024,42,36,2,665,89,19.55,521,127.63,-,3,5,48,38

In [134]:
most_sixes_df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO         object
Runs        int64
HS          int32
Ave       float64
BF          int64
SR        float64
100        object
50         object
0          object
4s          int64
6s          int64
dtype: object

In [135]:
most_sixes_df[most_sixes_df.columns[4]].unique()

array(['16', '29', '37', '95', '40', '22', '52', '20', '19', '30', '17',
       '33', '11', '12', '50', '44', '15', '43', '9', '5', '23', '18',
       '6', '27', '76', '4', '8', '24', '26', '36', '7', '3', '2', '13',
       '-', '38', '10', '21', '28', '1', '25', '14'], dtype=object)

In [136]:
freq_dist_NO = most_sixes_df[most_sixes_df.columns[4]].value_counts()

In [137]:
freq_dist_NO.index[0]

'2'

In [138]:
most_sixes_df[most_sixes_df.columns[4]].replace(to_replace="-",value=np.nan, inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\2354959128.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  most_sixes_df[most_sixes_df.columns[4]].replace(to_replace="-",value=np.nan, inplace=True)

In [139]:
most_sixes_df[most_sixes_df.columns[4]].unique()

array(['16', '29', '37', '95', '40', '22', '52', '20', '19', '30', '17',
       '33', '11', '12', '50', '44', '15', '43', '9', '5', '23', '18',
       '6', '27', '76', '4', '8', '24', '26', '36', '7', '3', '2', '13',
       nan, '38', '10', '21', '28', '1', '25', '14'], dtype=object)

In [140]:
most_sixes_copy = most_sixes_df[most_sixes_df.columns[4]].fillna(value=freq_dist_NO.index[0])

In [141]:
most_sixes_copy.unique()

array(['16', '29', '37', '95', '40', '22', '52', '20', '19', '30', '17',
       '33', '11', '12', '50', '44', '15', '43', '9', '5', '23', '18',
       '6', '27', '76', '4', '8', '24', '26', '36', '7', '3', '2', '13',
       '38', '10', '21', '28', '1', '25', '14'], dtype=object)

In [142]:
most_sixes_copy.astype("int64").dtypes

dtype('int64')

In [143]:
most_sixes_df[most_sixes_df[most_sixes_df.columns[4]].isna()]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
63,PP Shaw (DC),2018-2024,79,79,NaN,1892,99,23.94,1283,147.46,-,14,7,238,61
90,Prabhsimran Singh (KXIP/PBKS),2019-2024,34,34,NaN,756,103,22.23,517,146.22,1,3,3,78,41

In [144]:
most_frequent_NO = most_sixes_df[most_sixes_df.columns[4]].mode()[0]

In [145]:
most_frequent_NO

'2'

In [146]:
most_sixes_df[most_sixes_df.columns[4]].fillna(value=most_frequent_NO, inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\2803694194.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  most_sixes_df[most_sixes_df.columns[4]].fillna(value=most_frequent_NO, inplace=True)

In [147]:
most_sixes_df[most_sixes_df.columns[4]].isna().sum()

0

In [148]:
most_sixes_df[most_sixes_df.columns[4]] = most_sixes_df[most_sixes_df.columns[4]].astype("int64")

In [149]:
most_sixes_df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS          int32
Ave       float64
BF          int64
SR        float64
100        object
50         object
0          object
4s          int64
6s          int64
dtype: object

In [150]:
most_sixes_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,CH Gayle (KKR/KXIP/PBKS/RCB),2009-2021,142,141,16,4965,175,39.72,3333,148.96,6,31,8,404,357
1,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109,29.72,5054,131.14,2,43,17,599,280
2,V Kohli (RCB),2008-2024,252,244,37,8004,113,38.66,6065,131.97,8,55,10,705,272
3,MS Dhoni (CSK/RPS),2008-2024,264,229,95,5243,84,39.12,3812,137.53,-,24,6,363,252
4,AB de Villiers (DC/RCB),2008-2021,184,170,40,5162,133,39.70,3403,151.68,3,40,10,413,251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,MK Tiwary (DC/KKR/KXIP/RPS),2008-2018,98,85,26,1695,75,28.72,1449,116.97,-,7,8,156,40
96,ST Jayasuriya (MI),2008-2010,30,30,2,768,114,27.42,532,144.36,1,4,2,84,39
97,KK Nair (DC/KXIP/RCB/RR),2013-2022,76,68,5,1496,83,23.74,1171,127.75,-,10,3,161,39
98,DPMD Jayawardene (DC/Kochi/KXIP),2008-2013,80,78,15,1802,110,28.60,1462,123.25,1,10,2,200,39
99,MR Marsh (DC/DCH/PWI/RPS/SRH),2010-2024,42,36,2,665,89,19.55,521,127.63,-,3,5,48,38

In [151]:
most_sixes_df[most_sixes_df.columns[10]].unique()

array(['6', '2', '8', '-', '3', '4', '1', '7'], dtype=object)

In [152]:
freq_dist_hundred = most_sixes_df[most_sixes_df.columns[10]].value_counts()

In [153]:
freq_dist_hundred.index[1]

'1'

In [154]:
most_sixes_df[most_sixes_df.columns[10]].replace(to_replace="-",value=np.nan, inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\4099649739.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  most_sixes_df[most_sixes_df.columns[10]].replace(to_replace="-",value=np.nan, inplace=True)

In [155]:
most_sixes_df[most_sixes_df.columns[10]].unique()

array(['6', '2', '8', nan, '3', '4', '1', '7'], dtype=object)

In [156]:
most_sixes_100_copy = most_sixes_df[most_sixes_df.columns[10]].fillna(value=freq_dist_hundred.index[1])

In [157]:
most_sixes_100_copy.unique()

array(['6', '2', '8', '1', '3', '4', '7'], dtype=object)

In [158]:
most_sixes_100_copy.astype("int64").dtypes

dtype('int64')

In [159]:
most_sixes_df[most_sixes_df[most_sixes_df.columns[10]].isna()]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
3,MS Dhoni (CSK/RPS),2008-2024,264,229,95,5243,84,39.12,3812,137.53,NaN,24,6,363,252
6,KA Pollard (MI),2010-2022,189,171,52,3412,87,28.67,2316,147.32,NaN,16,5,218,223
7,AD Russell (DC/KKR),2012-2024,127,105,20,2484,88,29.22,1420,174.92,NaN,11,5,170,209
12,RV Uthappa (CSK/KKR/MI/PWI/RCB/RR),2008-2022,205,197,17,4952,88,27.51,3799,130.35,NaN,27,8,481,182
14,F du Plessis (CSK/RCB/RPS),2012-2024,145,138,11,4571,96,35.99,3352,136.36,NaN,37,7,421,166
16,KD Karthik (DC/GL/KKR/KXIP/MI/RCB),2008-2024,257,234,50,4842,97,26.31,3577,135.36,NaN,22,18,466,161
17,GJ Maxwell (DC/KXIP/MI/RCB),2012-2024,134,129,17,2771,95,24.74,1768,156.73,NaN,18,18,232,160
21,Yuvraj Singh (DC/KXIP/MI/PWI/RCB/SRH),2008-2019,132,126,15,2750,83,24.77,2120,129.71,NaN,13,4,217,149
22,HH Pandya (GT/MI),2015-2024,137,128,40,2525,91,28.69,1734,145.61,NaN,10,6,189,136
24,N Rana (KKR/MI),2016-2024,107,101,9,2636,87,28.65,1952,135.04,NaN,18,7,234,132
27,N Pooran (KXIP/LSG/PBKS/SRH),2019-2024,76,73,18,1769,77,32.16,1090,162.29,NaN,9,9,112,127
29,Ishan Kishan (GL/MI),2016-2024,105,99,6,2644,99,28.43,1946,135.86,NaN,16,8,255,119
30,DR Smith (CSK/DCH/GL/MI),2008-2017,91,89,5,2385,87,28.39,1764,135.20,NaN,17,8,245,117
31,SS Iyer (DC/KKR),2015-2024,116,115,18,3127,96,32.23,2453,127.47,NaN,21,6,271,113
33,RA Jadeja (CSK/GL/Kochi/RR),2008-2024,240,184,76,2959,62,27.39,2280,129.78,NaN,3,8,215,107
36,S Dube (CSK/RCB/RR),2019-2024,65,61,11,1502,95,30.04,1024,146.67,NaN,9,3,86,101
45,RA Tripathi (KKR/RPS/RR/SRH),2017-2024,95,93,11,2236,93,27.26,1605,139.31,NaN,12,4,223,84
46,SO Hetmyer (DC/RCB/RR),2019-2024,72,66,26,1243,75,31.07,812,153.07,NaN,4,2,76,82
47,JP Duminy (DC/DCH/MI),2009-2018,83,77,26,2029,78,39.78,1636,124.02,NaN,14,1,126,79
48,NV Ojha (DC/RR/SRH),2009-2018,113,94,19,1554,94,20.72,1313,118.35,NaN,6,8,121,79
49,AR Patel (DC/KXIP),2014-2024,150,113,36,1653,66,21.46,1263,130.87,NaN,3,7,107,79
51,AJ Finch (DC/GL/KKR/KXIP/MI/PWI/RCB/RR/SRH),2010-2022,92,90,7,2091,88,25.19,1631,128.20,NaN,15,8,214,78
52,Abhishek Sharma (DC/SRH),2018-2024,63,61,7,1377,75,25.50,887,155.24,NaN,7,2,128,73
54,MM Ali (CSK/RCB),2018-2024,67,57,6,1162,93,22.78,821,141.53,NaN,6,5,95,67
55,LS Livingstone (PBKS/RR),2019-2024,39,39,6,939,94,28.45,578,162.45,NaN,6,1,66,66
56,CA Lynn (DCH/KKR/MI),2012-2021,42,42,3,1329,93,34.07,945,140.63,NaN,10,3,132,66
57,DJ Bravo (CSK/GL/MI),2008-2022,161,113,44,1560,70,22.60,1204,129.56,NaN,5,5,120,66
60,EJG Morgan (KKR/KXIP/RCB/SRH),2010-2021,83,75,13,1405,68,22.66,1146,122.60,NaN,5,6,112,64
61,KS Williamson (GT/SRH),2015-2024,79,77,17,2128,89,35.46,1694,125.61,NaN,18,2,185,64
63,PP Shaw (DC),2018-2024,79,79,2,1892,99,23.94,1283,147.46,NaN,14,7,238,61
64,DJ Hooda (KXIP/LSG/PBKS/RR/SRH),2015-2024,118,96,16,1465,64,18.31,1131,129.53,NaN,8,4,96,61
65,KH Pandya (LSG/MI),2016-2024,127,111,38,1647,86,22.56,1240,132.82,NaN,1,6,144,61
66,R Parag (RR),2019-2024,70,58,10,1173,84,24.43,868,135.13,NaN,6,3,84,60
67,DJ Hussey (CSK/KKR/KXIP),2008-2014,64,61,12,1322,71,26.97,1075,122.97,NaN,5,4,90,60
69,G Gambhir (DC/KKR),2008-2018,154,152,16,4217,93,31.00,3404,123.88,NaN,36,12,492,59
70,NT Tilak Varma (MI),2022-2024,38,38,9,1156,84,39.86,790,146.32,NaN,6,1,90,58
71,JA Morkel (CSK/DC/RCB/RPS),2008-2016,91,68,28,974,73,24.35,686,141.98,NaN,3,3,61,55
74,SS Tiwary (DC/MI/RCB/RPS),2008-2021,93,74,22,1494,61,28.73,1244,120.09,NaN,8,1,111,50
75,PA Patel (CSK/DCH/Kochi/MI/RCB/SRH),2008-2019,139,137,11,2848,81,22.60,2358,120.78,NaN,13,13,365,49
76,R Tewatia (DC/GT/KXIP/RR),2014-2024,93,65,25,1013,53,25.32,752,134.70,NaN,1,-,84,47
77,TH David (MI/RCB),2021-2024,38,35,12,659,46,28.65,387,170.28,NaN,-,3,38,46
78,RK Singh (KKR),2018-2024,46,40,11,893,67,30.79,623,143.33,NaN,4,-,67,46
79,LRPL Taylor (DC/PWI/RCB/RR),2008-2014,55,54,14,1017,81,25.42,822,123.72,NaN,3,3,66,46
80,JM Sharma (PBKS),2022-2024,40,36,4,730,49,22.81,483,151.13,NaN,-,2,53,45
81,V Shankar (CSK/DC/GT/SRH),2014-2024,72,60,16,1115,63,25.34,859,129.80,NaN,6,2,80,45
83,ML Hayden (CSK),2008-2010,32,32,2,1107,93,36.90,805,137.51,NaN,8,1,121,44
84,JH Kallis (KKR/RCB),2008-2014,98,96,11,2427,89,28.55,2222,109.22,NaN,17,9,255,44
85,M Vohra (KXIP/LSG/RCB/RR),2013-2023,56,51,2,1083,95,22.10,829,130.63,NaN,3,3,104,43
86,BJ Hodge (KKR/Kochi/RR),2008-2014,66,63,21,1400,73,33.33,1118,125.22,NaN,6,3,122,43
87,SC Ganguly (KKR/PWI),2008-2012,59,56,3,1349,91,25.45,1263,106.80,NaN,7,4,137,42
89,Harbhajan Singh (CSK/KKR/MI),2008-2021,163,90,37,833,64,15.71,604,137.91,NaN,1,13,79,42
94,KM Jadhav (CSK/DC/Kochi/RCB/SRH),2010-2023,95,81,27,1208,69,22.37,981,123.13,NaN,4,6,102,40
95,MK Tiwary (DC/KKR/KXIP/RPS),2008-2018,98,85,26,1695,75,28.72,1449,116.97,NaN,7,8,156,40
97,KK Nair (DC/KXIP/RCB/RR),2013-2022,76,68,5,1496,83,23.74,1171,127.75,NaN,10,3,161,39
99,MR Marsh (DC/DCH/PWI/RPS/SRH),2010-2024,42,36,2,665,89,19.55,521,127.63,NaN,3,5,48,38

In [160]:
most_frequent_100_sixes = most_sixes_df[most_sixes_df.columns[10]].mode()[0]

In [161]:
most_frequent_100_sixes

'1'

In [162]:
most_sixes_df[most_sixes_df.columns[10]].fillna(value=most_frequent_100_sixes, inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\1220831044.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  most_sixes_df[most_sixes_df.columns[10]].fillna(value=most_frequent_100_sixes, inplace=True)

In [163]:
most_sixes_df[most_sixes_df.columns[10]].isna().sum()

0

In [164]:
most_sixes_df[most_sixes_df.columns[10]] = most_sixes_df[most_sixes_df.columns[10]].astype("int64")

In [165]:
most_sixes_df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS          int32
Ave       float64
BF          int64
SR        float64
100         int64
50         object
0          object
4s          int64
6s          int64
dtype: object

In [166]:
most_sixes_df[most_sixes_df.columns[11]].unique()

array(['31', '43', '55', '24', '40', '62', '16', '11', '25', '39', '21',
       '37', '27', '22', '19', '18', '13', '51', '10', '9', '23', '17',
       '3', '30', '7', '20', '12', '4', '14', '6', '15', '5', '8', '1',
       '36', '-'], dtype=object)

In [167]:
freq_dist_fifty = most_sixes_df[most_sixes_df.columns[11]].value_counts()

In [168]:
freq_dist_fifty.index[0]

'13'

In [169]:
most_sixes_df[most_sixes_df.columns[11]].replace(to_replace="-",value=np.nan, inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\1045214744.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  most_sixes_df[most_sixes_df.columns[11]].replace(to_replace="-",value=np.nan, inplace=True)

In [170]:
most_sixes_df[most_sixes_df.columns[11]].unique()

array(['31', '43', '55', '24', '40', '62', '16', '11', '25', '39', '21',
       '37', '27', '22', '19', '18', '13', '51', '10', '9', '23', '17',
       '3', '30', '7', '20', '12', '4', '14', '6', '15', '5', '8', '1',
       '36', nan], dtype=object)

In [171]:
most_sixes_50_copy = most_sixes_df[most_sixes_df.columns[11]].fillna(value=freq_dist_fifty.index[0])

In [172]:
most_sixes_50_copy.unique()

array(['31', '43', '55', '24', '40', '62', '16', '11', '25', '39', '21',
       '37', '27', '22', '19', '18', '13', '51', '10', '9', '23', '17',
       '3', '30', '7', '20', '12', '4', '14', '6', '15', '5', '8', '1',
       '36'], dtype=object)

In [173]:
most_sixes_50_copy.astype("int64").dtypes

dtype('int64')

In [174]:
most_sixes_df[most_sixes_df[most_sixes_df.columns[11]].isna()]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
77,TH David (MI/RCB),2021-2024,38,35,12,659,46,28.65,387,170.28,1,NaN,3,38,46
80,JM Sharma (PBKS),2022-2024,40,36,4,730,49,22.81,483,151.13,1,NaN,2,53,45

In [175]:
most_frequent_50_sixes = most_sixes_df[most_sixes_df.columns[11]].mode()[0]

In [176]:
most_frequent_50_sixes

'13'

In [177]:
most_sixes_df[most_sixes_df.columns[11]].fillna(value=most_frequent_50_sixes, inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\2562612660.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  most_sixes_df[most_sixes_df.columns[11]].fillna(value=most_frequent_50_sixes, inplace=True)

In [178]:
most_sixes_df[most_sixes_df.columns[11]].isna().sum()

0

In [179]:
most_sixes_df[most_sixes_df.columns[11]] = most_sixes_df[most_sixes_df.columns[11]].astype("int64")

In [180]:
most_sixes_df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS          int32
Ave       float64
BF          int64
SR        float64
100         int64
50          int64
0          object
4s          int64
6s          int64
dtype: object

In [181]:
most_sixes_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,CH Gayle (KKR/KXIP/PBKS/RCB),2009-2021,142,141,16,4965,175,39.72,3333,148.96,6,31,8,404,357
1,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109,29.72,5054,131.14,2,43,17,599,280
2,V Kohli (RCB),2008-2024,252,244,37,8004,113,38.66,6065,131.97,8,55,10,705,272
3,MS Dhoni (CSK/RPS),2008-2024,264,229,95,5243,84,39.12,3812,137.53,1,24,6,363,252
4,AB de Villiers (DC/RCB),2008-2021,184,170,40,5162,133,39.70,3403,151.68,3,40,10,413,251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,MK Tiwary (DC/KKR/KXIP/RPS),2008-2018,98,85,26,1695,75,28.72,1449,116.97,1,7,8,156,40
96,ST Jayasuriya (MI),2008-2010,30,30,2,768,114,27.42,532,144.36,1,4,2,84,39
97,KK Nair (DC/KXIP/RCB/RR),2013-2022,76,68,5,1496,83,23.74,1171,127.75,1,10,3,161,39
98,DPMD Jayawardene (DC/Kochi/KXIP),2008-2013,80,78,15,1802,110,28.60,1462,123.25,1,10,2,200,39
99,MR Marsh (DC/DCH/PWI/RPS/SRH),2010-2024,42,36,2,665,89,19.55,521,127.63,1,3,5,48,38

In [182]:
most_sixes_df[most_sixes_df.columns[12]].unique()

array(['8', '17', '10', '6', '11', '5', '7', '4', '14', '18', '9', '13',
       '3', '16', '2', '1', '12', '-'], dtype=object)

In [183]:
freq_dist_zero = most_sixes_df[most_sixes_df.columns[12]].value_counts()

In [184]:
freq_dist_zero.index[0]

'4'

In [185]:
most_sixes_df[most_sixes_df.columns[12]].replace(to_replace="-",value=np.nan, inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\2561637822.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  most_sixes_df[most_sixes_df.columns[12]].replace(to_replace="-",value=np.nan, inplace=True)

In [186]:
most_sixes_df[most_sixes_df.columns[12]].unique()

array(['8', '17', '10', '6', '11', '5', '7', '4', '14', '18', '9', '13',
       '3', '16', '2', '1', '12', nan], dtype=object)

In [187]:
most_sixes_0_copy = most_sixes_df[most_sixes_df.columns[12]].fillna(value=freq_dist_zero.index[0])

In [188]:
most_sixes_0_copy.unique()

array(['8', '17', '10', '6', '11', '5', '7', '4', '14', '18', '9', '13',
       '3', '16', '2', '1', '12'], dtype=object)

In [189]:
most_sixes_0_copy.astype("int64").dtypes

dtype('int64')

In [190]:
most_sixes_df[most_sixes_df[most_sixes_df.columns[12]].isna()]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
76,R Tewatia (DC/GT/KXIP/RR),2014-2024,93,65,25,1013,53,25.32,752,134.70,1,1,NaN,84,47
78,RK Singh (KKR),2018-2024,46,40,11,893,67,30.79,623,143.33,1,4,NaN,67,46
91,A Symonds (DCH/MI),2008-2011,39,36,9,974,117,36.07,750,129.86,1,5,NaN,74,41

In [191]:
most_frequent_0_sixes = most_sixes_df[most_sixes_df.columns[12]].mode()[0]

In [192]:
most_frequent_0_sixes

'3'

In [193]:
most_sixes_df[most_sixes_df.columns[12]].fillna(value=most_frequent_0_sixes, inplace=True)

C:\Users\velur\AppData\Local\Temp\ipykernel_22456\1852581486.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  most_sixes_df[most_sixes_df.columns[12]].fillna(value=most_frequent_0_sixes, inplace=True)

In [194]:
most_sixes_df[most_sixes_df.columns[12]].isna().sum()

0

In [195]:
most_sixes_df[most_sixes_df.columns[12]] = most_sixes_df[most_sixes_df.columns[12]].astype("int64")

In [196]:
most_sixes_df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS          int32
Ave       float64
BF          int64
SR        float64
100         int64
50          int64
0           int64
4s          int64
6s          int64
dtype: object

In [197]:
most_sixes_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,CH Gayle (KKR/KXIP/PBKS/RCB),2009-2021,142,141,16,4965,175,39.72,3333,148.96,6,31,8,404,357
1,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109,29.72,5054,131.14,2,43,17,599,280
2,V Kohli (RCB),2008-2024,252,244,37,8004,113,38.66,6065,131.97,8,55,10,705,272
3,MS Dhoni (CSK/RPS),2008-2024,264,229,95,5243,84,39.12,3812,137.53,1,24,6,363,252
4,AB de Villiers (DC/RCB),2008-2021,184,170,40,5162,133,39.70,3403,151.68,3,40,10,413,251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,MK Tiwary (DC/KKR/KXIP/RPS),2008-2018,98,85,26,1695,75,28.72,1449,116.97,1,7,8,156,40
96,ST Jayasuriya (MI),2008-2010,30,30,2,768,114,27.42,532,144.36,1,4,2,84,39
97,KK Nair (DC/KXIP/RCB/RR),2013-2022,76,68,5,1496,83,23.74,1171,127.75,1,10,3,161,39
98,DPMD Jayawardene (DC/Kochi/KXIP),2008-2013,80,78,15,1802,110,28.60,1462,123.25,1,10,2,200,39
99,MR Marsh (DC/DCH/PWI/RPS/SRH),2010-2024,42,36,2,665,89,19.55,521,127.63,1,3,5,48,38

In [198]:
most_sixes_df["Start_Year"] = most_sixes_df["Span"].str.split("-").str[0].astype("int64")
most_sixes_df["End_Year"] = most_sixes_df["Span"].str.split("-").str[1].astype("int64")
most_sixes_df["Career_Span"] = most_sixes_df["End_Year"] - most_sixes_df["Start_Year"] + 1

In [199]:
most_sixes_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Start_Year,End_Year,Career_Span
0,CH Gayle (KKR/KXIP/PBKS/RCB),2009-2021,142,141,16,4965,175,39.72,3333,148.96,6,31,8,404,357,2009,2021,13
1,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109,29.72,5054,131.14,2,43,17,599,280,2008,2024,17
2,V Kohli (RCB),2008-2024,252,244,37,8004,113,38.66,6065,131.97,8,55,10,705,272,2008,2024,17
3,MS Dhoni (CSK/RPS),2008-2024,264,229,95,5243,84,39.12,3812,137.53,1,24,6,363,252,2008,2024,17
4,AB de Villiers (DC/RCB),2008-2021,184,170,40,5162,133,39.70,3403,151.68,3,40,10,413,251,2008,2021,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,MK Tiwary (DC/KKR/KXIP/RPS),2008-2018,98,85,26,1695,75,28.72,1449,116.97,1,7,8,156,40,2008,2018,11
96,ST Jayasuriya (MI),2008-2010,30,30,2,768,114,27.42,532,144.36,1,4,2,84,39,2008,2010,3
97,KK Nair (DC/KXIP/RCB/RR),2013-2022,76,68,5,1496,83,23.74,1171,127.75,1,10,3,161,39,2013,2022,10
98,DPMD Jayawardene (DC/Kochi/KXIP),2008-2013,80,78,15,1802,110,28.60,1462,123.25,1,10,2,200,39,2008,2013,6
99,MR Marsh (DC/DCH/PWI/RPS/SRH),2010-2024,42,36,2,665,89,19.55,521,127.63,1,3,5,48,38,2010,2024,15

In [200]:
most_sixes_df.drop(columns=most_sixes_df.columns[1], inplace=True)

In [201]:
most_sixes_df

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Start_Year,End_Year,Career_Span
0,CH Gayle (KKR/KXIP/PBKS/RCB),142,141,16,4965,175,39.72,3333,148.96,6,31,8,404,357,2009,2021,13
1,RG Sharma (DCH/MI),257,252,29,6628,109,29.72,5054,131.14,2,43,17,599,280,2008,2024,17
2,V Kohli (RCB),252,244,37,8004,113,38.66,6065,131.97,8,55,10,705,272,2008,2024,17
3,MS Dhoni (CSK/RPS),264,229,95,5243,84,39.12,3812,137.53,1,24,6,363,252,2008,2024,17
4,AB de Villiers (DC/RCB),184,170,40,5162,133,39.70,3403,151.68,3,40,10,413,251,2008,2021,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,MK Tiwary (DC/KKR/KXIP/RPS),98,85,26,1695,75,28.72,1449,116.97,1,7,8,156,40,2008,2018,11
96,ST Jayasuriya (MI),30,30,2,768,114,27.42,532,144.36,1,4,2,84,39,2008,2010,3
97,KK Nair (DC/KXIP/RCB/RR),76,68,5,1496,83,23.74,1171,127.75,1,10,3,161,39,2013,2022,10
98,DPMD Jayawardene (DC/Kochi/KXIP),80,78,15,1802,110,28.60,1462,123.25,1,10,2,200,39,2008,2013,6
99,MR Marsh (DC/DCH/PWI/RPS/SRH),42,36,2,665,89,19.55,521,127.63,1,3,5,48,38,2010,2024,15

### Most Fifties

In [202]:
most_fifties_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,50+,0,4s,6s
0,DA Warner (DC/SRH),2009-2024,184,184,22,6565,126,40.52,4697,139.77,4,62,66,11,663,236
1,V Kohli (RCB),2008-2024,252,244,37,8004,113*,38.66,6065,131.97,8,55,63,10,705,272
2,S Dhawan (DC/DCH/MI/PBKS/SRH),2008-2024,222,221,29,6769,106*,35.25,5324,127.14,2,51,53,11,768,152
3,RG Sharma (DCH/MI),2008-2024,257,252,29,6628,109*,29.72,5054,131.14,2,43,45,17,599,280
4,AB de Villiers (DC/RCB),2008-2021,184,170,40,5162,133*,39.70,3403,151.68,3,40,43,10,413,251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SM Curran (CSK/KXIP/PBKS),2019-2024,59,48,13,883,63*,25.22,647,136.47,-,5,5,4,74,37
96,MC Henriques (DC/KKR/PBKS/RCB/SRH),2009-2021,62,54,18,1000,74*,27.77,788,126.90,-,5,5,2,87,28
97,DJ Hussey (CSK/KKR/KXIP),2008-2014,64,61,12,1322,71,26.97,1075,122.97,-,5,5,4,90,60
98,EJG Morgan (KKR/KXIP/RCB/SRH),2010-2021,83,75,13,1405,68*,22.66,1146,122.60,-,5,5,6,112,64
99,DJ Bravo (CSK/GL/MI),2008-2022,161,113,44,1560,70*,22.60,1204,129.56,-,5,5,5,120,66

In [203]:
most_fifties_df.isna().sum()

Player    0
Span      0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
Ave       0
BF        0
SR        0
100       0
50        0
50+       0
0         0
4s        0
6s        0
dtype: int64